name: Publish Nuget

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Package version (example: v1.0.0)'
        required: true
        default: 'v1.0.0'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-build \
          -p:PackageVersion=${{ github.event.inputs.version }} -o out

      - name: Publish
        run: dotnet nuget push "out/*.nupkg" \
          --api-key ${{ secrets.NUGET_API_KEY }} \
          --source https://api.nuget.org/v3/index.json
      
